@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 150px;
    height: 70px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    flex: 0 1 450px;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#logo {
    font-size: 24px;
    font-weight: 700;
}

.hero-section {
    display: flex;
    padding: 0px 150px;
    height: 100vh;
    justify-content: space-between;
    background-color: #1F2937;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 600px;
    gap: 16px;
    color: #F9FAF8;
}

.hero-section-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-section-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 600px;
}

.hero-section-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
}

/* Second Section */

.second-section-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.second-section-homepage h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 45px 0px 30px 0px;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.second-section-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 0 0 1000px;
}

.second-section-image p {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.second-section-image {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    justify-content: space-between;
    gap: 20px;
    

}

.second-section-image img {
    border: 4px solid #3882F6; 
    border-radius: 8px;
}

/* third section */

.third-section-homepage {
    display: flex;
    flex-direction: column;
    padding: 150px 300px 150px 300px;
    background-color: #E5E7EB;
    gap: 20px;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    text-align: right;
}